* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.cards {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
}
table {
  margin-left: auto;
}
table tbody tr {
  margin: 5px 10px;
}
table tbody tr td {
  padding: 8px;
}
table tbody tr td i {
  font-size: 23px;
}
.card h3 {
  color: blueviolet;
}
.fav {
  position: absolute;
  padding: 10px;
  top: 15px;
  left: 10px;
  color: #ffffffd5;
  font-size: 30px;
  background-color: #ddd;
  border-radius: 50%;
}
.buy{
  position: absolute;
  top: 15px;
  right: 0px;
  background:rgb(86, 208, 86);
  padding:8px 18px ;
  border: none;
  outline: none;
  color:#fff
}
